<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/public/css/settings.css">
</head>
<body>
    <div class="container">
        <h2>User Settings</h2>
    
        <!-- Form for updating user details -->
        <form id="updateForm">
          <label for="name">Name:</label>
          <input type="text" id="name" required>
    
          <label for="password">Password:</label>
          <input type="password" id="password" required>
    
          <label for="phoneNumber">Phone Number:</label>
          <input type="tel" id="phoneNumber" required>
    
          <label for="email">Email:</label>
          <input type="email" id="email" required>
    
          <button type="button" onclick="updateUserDetails()">Update Details</button>
        </form>
    
        <!-- Display messages or errors -->
        <div id="message"></div>
      </div>
</body>
<script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js"></script> <!-- Include Firebase Authentication -->


<script src="/public/js/firebase-config.js" type="module"></script>
<script src="/public/js/settings.js" type="module"></script>
</html>